请始终用中文回复用户的问题
这是一个monorepo, 安装包或运行命令的时候注意这点。
这个项目用的是 npm ,不是 pnpm
prisma generate 以后，编辑器不会马上更新类型，需要 restart ts language server
编写测试以后，请只执行编写的测试，不要执行全部测试；等该测试通过以后，再执行一遍全部测试；
为接口编写的测试文件，在测试通过以后，需要被保留，除非是重复的测试。
修改完前端代码，确保 npm run build 能编译通过。