# Ignore node_modules
node_modules
/packages/*/node_modules

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
/packages/*/dist
/packages/*/build

# Ignore .env files
.env
.env.*
!/.env.example

# Ignore IDE and OS-specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
.DS_Store

# Ignore test reports
/coverage
/test-results 